<div class="discussionPartial">
    {{#each discussions}}
        <div class="userPortraitContainer">
            <a href="/profile/{{this.ID}}">
                <img class="userPortrait" src="{{this.PROFILE_IMG_URL}}"></img>
            </a>
        </div>
        <div class="discussionHeaderContainer">
            <div class="discussionHeaderTitle">
                {{this.TITLE}}
            </div>
            <div class="discussionHeaderTopic">
                {{this.TOPIC}}
            </div>
        </div>
        <div class="discussionContainer">
            <div class="discussionBody">
                {{this.BODY}}
            </div>
            <div class="discussionFooterContainer">
                <div class="discussionDate">
                    {{this.DATE}}
                </div>
                <!--TODO add functionality should rerender page somewhere-->
                <form action="getPostsForDiscussion" method="POST">
                    <input type="hidden" name="discussion" value="{{this}}"></input>
                    <input type="hidden" name="discussionID" value="{{this.ID}}"></input>
                    <input class="replyButton" type="submit" value="{{this.REPLY_COUNT}} replies"></input>
                </form>
            </div>
        </div>
    {{/each}}   
</div>