<div id="user-info">
    <div id="img-container">
        <a href="/profile/{{UserData.ID}}">
            <img id="user-img" class="rounded-circle shadow-sm" src="{{UserData.PROFILE_IMAGE_URL}}">
        </a>
    </div>
    <h2>{{UserData.FIRST_NAME}} {{UserData.LAST_NAME}}</h2>
    <p id="description">{{UserData.ABOUT}}</p>

    <div id="stats">
        <table>
            <tr>
                <td>
                    <a id="posts" href="#" class="d-inline link">Posts</a>
                </td>
                <td>
                    <p id="num-posts" class="d-inline">{{noPosts}}</p>
                </td>
            </tr>
            <tr>
                <td>
                    <a id="messages" href="/profile/message" class="d-inline link">Messages</a>
                </td>
                <td>
                    <p id="num-messages" class="d-inline">{{noMsg}}</p>
                </td>
            </tr>
            <tr>
                <td>
                    <a id="likes" href="#" class="d-inline link">Likes</a>
                </td>
                <td>
                    <p id="num-likes" class="d-inline">{{noLikes}}</p>
                </td>
            </tr>
        </table>
        <div id="edit-container">
            <br />
            <a href="/profile/{{UserData.ID}}/edit" class="link">Edit Profile</a>
        </div>
    </div>
</div>