<div class="container mt-8">
    <div id="chat">
        <div class="sidebar">
            <input size="100" type="text" id="searchKey" placeholder="search" />
            <ul class="m-list">
                {{#each conversations}}
                <div class='searchable' onclick="fetchMsg('{{this.ID}}')" id="{{this.ID}}">
                    <li><img class='avatar' width='30' height='30' alt=' ' src="{{this.PROFILE_IMAGE_URL}}" />
                        <p class='name 
                        {{#if this.READ}}red-point{{/if}}
                        '>{{this.FIRST_NAME}} {{this.LAST_NAME}}</p>
                    </li>
                    <li class='properties'>{{this.DATE}} {{this.SUBJECT}}</li>
                </div>
                {{/each}}
            </ul>
        </div>
        <div class="main">
            <message>
                <div class='m-message'></div>
            </message>
            <div class="m-text">
                <form>
                    <div class="form-group row">
                        <content>
                            <textarea class="form-control text" id="text" rows="5"
                                placeholder="Write a message..."></textarea>
                        </content>
                    </div>
                    <input type="hidden" id="conversation_id">
                    <input type="hidden" id="receiver_id">
                    <input type="hidden" id="sender_id" value="{{sender_id}}">
                    <button type='button' class='send btn btn-primary' onclick="send()">Send</button>
                </form>
            </div>
        </div>
    </div>
</div>