{{>header}}
<div class="top-half">
    <div id="user-image">
        <a href="#"><img src="{{UserData.PROFILE_IMAGE_URL}}" alt="user-img" id="profile-pic"></a>
    </div>
    <div class="info">
        <p id="name">
            {{UserData.FIRST_NAME}} {{UserData.LAST_NAME}}
        </p>
        <p id="position">
            {{UserData.ABOUT}}
        </p>
        <p id="location">
            {{UserData.COUNTRY}}
        </p>
    </div>
    <div class="extra">
        <form method="GET" action="/messagePage">
            <input hidden="true" type="text" name="user_id" value="{{UserData.ID}}">
            <button id="message" type="submit">Message</button>
        </form>
        <div class="like">
            <p id="likes">
                {{likes.LIKE_COUNT}}
                {{#if likeSingular}} Like {{else}} Likes {{/if}}
            </p>
            <form method="POST" action="/profile/{{UserData.ID}}">
                {{#if canLike}}
                <button id="add-like" type="submit">+</button>
                {{else}}
                <button disabled="true" id="add-like-disabled" title="Profile already liked" type="submit">+</button>
                {{/if}}
            </form>
        </div>
        <p id="post-number">
            {{postCount}} Posts
        </p>
    </div>
</div>
<p id="all-posts">
    All posts by {{UserData.FIRST_NAME}}
</p>
{{>discussionPartial}}
</div>